@media screen and (max-width: 480px){

    .row{
      width: 100%;
    }
    
    .container{
        background-color: yellow;
        margin-top: -100px;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
      width: 100%;
    }

    #steps {
      background-color: white;
    }
   
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
    }

    #why{
      background-color: lightsalmon;
    }
  
  }